<p id="notice"><%= notice %></p>




<body class="hold-transition login-page">
<div class="login-box">
  <!-- /.login-logo -->
  <%= render 'layouts/callbacks' %>

    <div class="login-logo">
    Desafio<br>
    <b>VALE</b>Mobi 
  </div>

  <div class="login-box-body">
    <p class="login-box-msg">Informe suas credenciais para se logar</p>
<%= render 'form' %>

 
  </div>
  <!-- /.login-box-body -->
</div>